
fieldset.checkout-buttons {
  text-align: right;
}

fieldset.checkout-buttons .form-button, fieldset.checkout-buttons .form-submit {
  margin-left: 1em;
}

fieldset.checkout-buttons .checkout-cancel, fieldset.checkout-buttons .checkout-back {
  float: left;
}


th.views-field-commerce-total {
  text-align: right;
}

.customer_profile_billing .adr p {
  margin: 0;
}

.checkout-processing {
  padding-right: 18px !important;
  background: url(../images/status-active.gif) right center no-repeat;
}
